.profile-feed-container {
  #gold {
    color: #DAA520
  }

  #silver {
    color: #C0C0C0;
  }

  #bronze {
    color: #CD7F32;
  }

  .profile-detail-summary {
    img {
      width: 100px;
    }
  }
}
