<form #passwordForm="ngForm" (ngSubmit)="newPassword(registrationForm.value)">
    <h3>Enter your email address</h3>
    <p>We will send a new password and a link to change the password to the registered email address</p>
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="text" class="form-control" placeholder="Email" ngControl="email">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</form>
