<div>
    <h2>BeeHandy</h2>
    <h3>Find. Ask. Show.</h3>
    <p>The DIY tool belt you have been missing</p>
</div>

<div class="description">
    <h3>DIY Community</h3>
    <p>A one stop spot for the do it yourselfer to find solution, ask questions to problems you donth habe the answer to around your house and to help find proffesionals when things get our of hand</p>
</div>

<div class="solutions">
    <h3>Solutions</h3>
    <p>Find the solutions to common houselhold problems you may face from solutions posted from others that have been in your shpes before</p>
</div>

<div class="build-a-reputation">
    <h3>Build a professional reputation</h3>
    <h5>Its good to give back</h5>
    <p>By answering question other may have about projects around their house you can earn a medals that will build your personal or buisness reputation, helping ypiu get in touch with others that may be in over there head.</p>
</div>

<div class="questions">
    <h3>Ask Away</h3>
    <p>Never worry about not getting an answer, people love to help on projects they have worked <on class=""></on></p>
</div>



