<div class="profile-feed-container container">
    <div class="profile-detail-summary container-fluid">
        <profile-info></profile-info>
        <hr>
        <div class="container-fluid">
            <div class="container-fluid">
                <a class="btn btn-default" routerLink='/question/ask'>Ask a Question</a>
                <a class="btn btn-default" routerLink="/profile/interests">Add Interests</a>
                <a class="btn btn-default" routerLink='/question/asked'>Answer Questions</a>
            </div>
            <div class="user-interests container-fluid">
                <h5>My Interests</h5>
                <p>Tile</p> <!-- DL -->
                <p>Tools</p> <!-- DL -->
                <p>Framing</p> <!-- DL -->
                <p>Electrical</p> <!-- DL -->
                <p>Plumbing</p> <!-- DL -->
            </div>
        </div>
    </div>
    <hr>
    <div class="interested-tags-feed container-fluid">
        <div> <!--------- make a feed component --------->
            <div class="container-fluid">
                <div class="feed-interest-video-img col-xs-6 col-md-4">
                    <img src="http://images.meredith.com/diy/images/2009/02/p_SCT_122_10.jpg" alt="..."  style="width: 140px; height: 140px;" class="img-rounded">
                </div>
                <div class="feed-interest-description col-xs-6 col-md-4">
                    Peter Borodich<i id="gold" class="fa fa-circle-o" aria-hidden="true"></i>500 <!-- DL -->
                    <i id="silver" class="fa fa-circle-o" aria-hidden="true"></i>200 <!-- DL -->
                    <i id="bronze" class="fa fa-circle-o" aria-hidden="true"></i>100 <!-- DL -->
                    <h3>Back splash install</h3>
                    <p>Lorem ipsum dolor sit amet, persius nostrum eu his, quidam causae malorum te per. Eligendi reprehendunt ea vis, dicant eirmod invidunt no sea. Molestie phaedrum ne vix, ut diam modus cum. Pri odio graeci temporibus et, per at minim debet. Duo omnes efficiantur ne. Dolore feugiat duo et, ne usu mutat epicurei tractatos. Commune suscipiantur ut vi</p>
                </div>

            </div>
            <hr>

        </div>
    </div>
</div>