<div class="questions-wrapper">
    <div class="questions-profile-info">
        <profile-info></profile-info>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="question-details col-xs-12 col-sm-8 col-md-8">
                <h3>Title</h3><!-- DL -->
                <p>short description of the problem.</p><!-- DL -->
            </div>
            <div class="question-activity col-xs-12 col-sm-4 col-md-4">
                <h6>Views</h6><!-- DL -->
                <h6>Active</h6><!-- DL -->
                <h6>Asked</h6><!-- DL -->
            </div>
        </div>
        <hr>
        <div class="jwplayer-section container-fluid">
            <div class="jw-play center-block"></div>
        </div>

        <div class="discussion-area container-fluid">
            <div class="col-xs-12 col-md-12">
                <h2 class="center-block"> Join the Project </h2>
            </div>
            <div class="row"> <!-- load dynamically-->
                <hr>
                <img src="http://www.electriccitycorp.com/images/pages/electrical-wiring.jpg" class="img-rounded img-responsive center-block col-xs-12 col-sm-3 col-md-2">
                <h5 class="col-xs-12 col-sm-3 col-md-2" >persone Name</h5>
                <p class="col-xs-9 col-sm-6 col-md-8">a short descriptopm of the answer</p>
            </div>
        </div>
    </div>
</div>