<div class="questions-wrapper">
    <div>
        <div class="question-details">
            <h3>Title</h3>
            <p>short description of the problem.</p>
        </div>
        <div class="jwplayer-section">

        </div>

        <div class="discussion-area">
            <div>
                <h5>persone Name</h5>
                <p>a short descriptopm of the answer</p>
                <!--below will be a video or images that can assist in solutions -->
                <img src="http://www.electriccitycorp.com/images/pages/electrical-wiring.jpg" alt="..."  style="width: 140px; height: 140px;" class="img-rounded">
            </div>
        </div>
    </div>
</div>